# FootyStats API
FOOTYSTATS_API_KEY=sua_chave_aqui

# Backend API
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5174

# Frontend
VITE_API_BASE_URL=http://localhost:3001/api

# Telegram Bot
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_id_aqui
API_URL=http://localhost:3001
